Plugins>BioVoxxel 3D Box,		"Threshold Check (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVThresholdCheck
Plugins>BioVoxxel 3D Box,		"-",									null
Plugins>BioVoxxel 3D Box,		"Pseudo Flat Field Correction (2D/3D)",	de.biovoxxel.bv3dbox.gui.BVPseudoFlatFieldCorrectionGUI
Plugins>BioVoxxel 3D Box,		"Recursive Filter (2D/3D)",				de.biovoxxel.bv3dbox.gui.RecursiveFilterGUI
Plugins>BioVoxxel 3D Box,		"-",									null
Plugins>BioVoxxel 3D Box,		"Voronoi Threshold Labler (2D/3D)",		de.biovoxxel.bv3dbox.gui.BVVoronoiThresholdLabelingGUI
Plugins>BioVoxxel 3D Box,		"-",									null
Plugins>BioVoxxel 3D Box, 		"Object Inspector (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVObjectInspectorGUI
Plugins>BioVoxxel 3D Box,		"Overlap Extractor (2D/3D)",			de.biovoxxel.bv3dbox.gui.BVOverlapExtractorGUI
Plugins>BioVoxxel 3D Box,		"-",									null
Plugins>BioVoxxel 3D Box,		"Post Processor (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVPostProcessorGUI
Plugins>BioVoxxel 3D Box,		"-",									null
Plugins>BioVoxxel 3D Box,		"Settings",								de.biovoxxel.bv3dbox.utilities.BV3DBoxSettings