Plugins>BioVoxxel 3D Box (alpha),		"Threshold Check (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVThresholdCheck
Plugins>BioVoxxel 3D Box (alpha),		"-",									null
Plugins>BioVoxxel 3D Box (alpha),		"Flat Field Correction (2D/3D)",		de.biovoxxel.bv3dbox.gui.BVFlatFieldCorrectionGUI
Plugins>BioVoxxel 3D Box (alpha),		"Pseudo Flat Field Correction (2D/3D)",	de.biovoxxel.bv3dbox.gui.BVPseudoFlatFieldCorrectionGUI
Plugins>BioVoxxel 3D Box (alpha),		"Recursive Filter (2D/3D)",				de.biovoxxel.bv3dbox.gui.RecursiveFilterGUI
Plugins>BioVoxxel 3D Box (alpha),		"-",									null
Plugins>BioVoxxel 3D Box (alpha),		"Voronoi Threshold Labler (2D/3D)",		de.biovoxxel.bv3dbox.gui.BVVoronoiThresholdLabelingGUI
Plugins>BioVoxxel 3D Box (alpha),		"-",									null
Plugins>BioVoxxel 3D Box (alpha), 		"Object Inspector (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVObjectInspectorGUI
Plugins>BioVoxxel 3D Box (alpha),		"Overlap Extractor (2D/3D)",			de.biovoxxel.bv3dbox.gui.BVOverlapExtractorGUI
Plugins>BioVoxxel 3D Box (alpha),		"-",									null
Plugins>BioVoxxel 3D Box (alpha),		"Post Processor (2D/3D)",				de.biovoxxel.bv3dbox.gui.BVPostProcessorGUI
Plugins>BioVoxxel 3D Box (alpha),		"-",									null
Plugins>BioVoxxel 3D Box (alpha),		"Settings",								de.biovoxxel.bv3dbox.utilities.BV3DBoxSettings