Plugins>BioVoxxel 3D Box>Filtering,			"Flat Field Correction (2D/3D)",				de.biovoxxel.bv3dbox.gui.BV_FlatFieldCorrectionGUI
Plugins>BioVoxxel 3D Box>Filtering,			"Pseudo Flat Field Correction (2D/3D)",			de.biovoxxel.bv3dbox.gui.BV_PseudoFlatFieldCorrectionGUI
Plugins>BioVoxxel 3D Box>Filtering,			"Recursive Filter (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_RecursiveFilterGUI
Plugins>BioVoxxel 3D Box>Filtering,			"Convoluted Background Subtraction (2D/3D)",	de.biovoxxel.bv3dbox.gui.BV_ConvolutedBackgroundSubtractionGUI
Plugins>BioVoxxel 3D Box>Segmentation,		"Threshold Check (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_ThresholdCheck
Plugins>BioVoxxel 3D Box>Segmentation,		"Voronoi Threshold Labler (2D/3D)",				de.biovoxxel.bv3dbox.gui.BV_VoronoiThresholdLabelingGUI
Plugins>BioVoxxel 3D Box>Labels,			"Label Splitter (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_LabelSplitterGUI
Plugins>BioVoxxel 3D Box>Labels,			"Separate Labels (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_LabelSeparator
Plugins>BioVoxxel 3D Box>Labels,			"Post Processor (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_PostProcessorGUI
Plugins>BioVoxxel 3D Box>Analysis,			"Object Inspector (2D/3D)",						de.biovoxxel.bv3dbox.gui.BV_ObjectInspectorGUI
Plugins>BioVoxxel 3D Box>Analysis,			"Overlap Extractor (2D/3D)",					de.biovoxxel.bv3dbox.gui.BV_OverlapExtractorGUI
Plugins>BioVoxxel 3D Box>Analysis,			"Neighbor Analysis (2D/3D)",					de.biovoxxel.bv3dbox.gui.BV_NeighborAnalysisGUI
Plugins>BioVoxxel 3D Box>Analysis,			"Calibration Bar",								ij.plugin.CalibrationBar
Plugins>BioVoxxel 3D Box,					"Settings",										de.biovoxxel.bv3dbox.utilities.BV3DBoxSettings